.button-login {
  margin-left: 70px;
  margin-top: 20px;
}

.title-card {
  margin-left: 70px;
}

.user-logo {
  margin-left: 40px;
}

.login-box {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-box {
  margin-left: 200px;
}

.grid {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
}

a:hover {
  text-decoration: underline !important;
}
